bs4
requests
ipykernel
numpy
pandas
openpyxl
matplotlib
seaborn
requests
fastapi[standard]
pytest
nbval # pytest generally does not work on jupyter nootbooks. To do so install this plugin
mysql-connector-python
pydantic
streamlit
plotly